<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176552540062-5lrpg0bgk8o99mqaht2rdim6sllqr25c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176552540062-5lrpg0bgk8o99mqaht2rdim6sllqr25c</string>
	<key>API_KEY</key>
	<string>AIzaSyDc9im8ijsg3-eXuCmSed2kEi17tDYV504</string>
	<key>GCM_SENDER_ID</key>
	<string>176552540062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uts.group140</string>
	<key>PROJECT_ID</key>
	<string>ios-development-group140</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-development-group140.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:176552540062:ios:ea3f75d645346660</string>
	<key>DATABASE_URL</key>
	<string>https://ios-development-group140.firebaseio.com</string>
</dict>
</plist>
